*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header Section Start */
.bg-primary2{
    background: #12107e;
}
.btn-primary2{
    background: #12107e;
}
.text-primary2{
    color: #12107e;
}
.navbar{
    margin: 0px;
    padding: 0px;
}
.nav-item{
    position: relative;
    display: block;
    padding: 27px 10px;
}
.nav-item:hover{
    background: #12107e;
}
header .navbar .nav-item a{    
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.nav-item:hover .nav-link{
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}
.dropdown-menu{
    padding: 0px;
    border: none;
    border-radius: 0px;    
    display: none;
    position: absolute;
    margin-top: 28px;
    margin-left: -10px;
}
.dropdown-menu .dropdown-item{
    border-radius: 0px;
    width: 270px;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500 !important;
    padding-left: 20px;
    border-bottom: 0.5px solid #e1dfdf;
}
.dropdown-menu .dropdown-item:hover{
    background: #12107e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.nav-item:hover .dropdown-menu{
    display: block;
}
#search{
    height: 50px;
    width: 50px;
    margin-right: 30px;
}
#search:hover{
    background: #fd0002;
}
#login{
    margin-left: 30px;
    margin-right: 10px;
    height: 50px;
    width: 170px;
}
#login:hover{
    background: #fd0002;
}
#login a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
/* Header Section Start */
/* Slider Section Start */
#carouselExample .carousel-inner .carousel-item h1{
    font-size: 68px;
    font-weight: bold;
    margin-bottom: 20px;
}
#carouselExample .carousel-inner .carousel-item .carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-bottom: 13.85rem;
    color: #fff;
    text-align: center;
}
#carouselExample .carousel-inner .carousel-item .carousel-caption button{
    width: 250px;
    height: 65px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}
.carousel-item #enrollbtn{
    background: #12107e;
}
.carousel-item #enrollbtn:hover{
    background: #fd0002;
}
.carousel-item #outlinebtn:hover{
    background: #fd0002;
    border: #fd0002;
}
/* Slider Section End */
/* Our Course Section Start */
.categories_wrap{
    z-index: 10;
    margin-top: -70px;
    position: relative;
}
.categories_wrap .row{
    margin-left: 120px;
}
#expert{
    width: 235px;
    height: 240px;
    background: #f0aa00;
    border-radius: 12px;
    margin-right: 35px;
}
#quality{
    width: 235px;
    height: 240px;
    background: #ff002a;
    border-radius: 12px;
    margin-right: 35px;
}
#support{
    width: 235px;
    height: 240px;
    background: #003d69;
    border-radius: 12px;
    margin-right: 35px;
}
#news{
    width: 235px;
    height: 240px;
    background: #3db2d5;
    border-radius: 12px;
}
#inner-icon{
    height: 130px;
    width: 130px;
    line-height: 130px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    margin-top: -60px;
    margin-left: 42px;
}
#text h4{
    color: #fff;
    font-size: 24px;
    text-align: center;
}
#text h4 span::before{
    content: "";
    background: #fff;
    width: 40px;
    height: 2px;
    position: absolute;
    top: 53%;
    margin-left: -20px;
}
#text p{
    color: #fff;
    text-align: center;
    font-size: 16px;
}
/* Our Course Section Ends */
/* About img section start */
#aboutimg .col-lg-7{
    width: 51%;
    margin-left: 90px;
}
#aboutimg .col-lg-5{
    width: 33%;
}
#education-icon{
    background: #003d69;
    border-radius: 100%;
    width: 60px;
    height: 85px;
}
#education-icon1{
    background: #3ab64c;
    border-radius: 100%;
    width: 60px;
    height: 85px;
}
#education-icon2{
    background: #dd1146;
    border-radius: 100%;
    width: 60px;
    height: 85px;
}
#aboutpara{
    text-align: justify;
    margin: 30px 0px;
}
.education-img{
    margin-top: 20px;
    margin-left: 4px;
}
#eduicon1{
    width: 16%;
}
#aboutimg .col-lg-9{
    margin-left: 15px;
}
#aboutimg .col-lg-9 p{
    text-align: justify;
}
/* About img section End */
